<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaimitchell.taid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            the following code allows me to handle orientation changes without
            fully dealing with it:
            android:configChanges="orientation|screenSize|keyboardHidden"
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

        <activity
            android:name=".StudentRecordDisplayActivity"
            android:label="@string/title_activity_content_student_record_display"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NewStudentRecordActivity"
            android:label="@string/title_activity_student_record_display_edittable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TutorialRecordDisplayActivity"
            android:label="@string/title_activity_tutorial_record_display"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>